page-home {

    ion-content {
      padding: 0px 0px 0px 0px !important;
      margin: 0px 0px 0px 0px !important;
    }
  
  
    #map_canvas {
        height: 100% !important;
        width: 100% !important;
      }
   
    }
  